<div class="panel panel-primary">
  <div class="panel-heading">Fiche incident</div>
  <div class="panel-body">
    <div class="form-group">
      <label>ID:</label><label>{{incident.id}}</label>
    </div>
    <div class="form-group">
      <label>date d'incident:</label><label>{{incident.date |date:'dd/MM/yyyy'}}</label>
    </div>
    <div class="form-group">
      <label>numéro d'incident:</label><label>{{incident.numero}}</label>
    </div><div class="form-group">
      <label>nombre de voyageurs:</label><label>{{incident.nombre}}</label>
    </div><div class="form-group">
      <label>description:</label><label>{{incident.description}}</label>
    </div>
  </div>
</div>